.logo{
	display: inline-block;
	width: 101.24px;
	color: #EE4036;
	padding-right: 49.81px;
}
nav{
	display: inline-block;
}
.navigation_ul{
	font-family: BPG Nino Mtavruli;
	color: #3D58A6;
	size: 22pt;
	padding-bottom: 30px;
}
.nav_li1{
	display: inline-block;
	font-weight: bold;
	margin-right: 23px;
}
.nav_li2{
	display: inline-block;
	font-weight: bold;
	margin-right: 23px;
}
.nav_li3{
	display: inline-block;
	font-weight: bold;
}
span{
	color: #EE4036;
}
.bluebox27{
	font-family: BPG Nino Mtavruli;
	font-size: 45px;
	color: white;
	padding: 7px 5.5px 0 5.5px;
	display: inline;
	background-color: #3D58A6;
}
.maisi{
	padding-top: 9px;
	color: #3D58A6;
	font-family: BPG Nino Mtavruli;
	font-size: 22px;
}
.lorem{
	font-size: 20px;
	font-family: BPG Nino Mtavruli;
	padding-top: 18px;
}
.photo_page2{
	display: inline-block;
	width: 180px;
	padding-top: 28px;
}
.articlep{
	display: inline-block;
	font-size: 11.33px;
	font-family: BPG Ingiri Arial;
	padding-left: 25px;
	padding-top: 28px;
	width: 600px;
	vertical-align: top;
}
.footer_logo_fb{
	display: inline;
	width: 14px;
	border-right: solid;
	border-right-color: #3D58A6;
	border-width: 1pt;
	padding-right: 35.609px;
	margin-top: 40.67px;
}
.footer_logo_youtube{
	width: 24.821px;
	margin-left: 40.67px;
}
body{
	padding-top: 33.41px;
	padding-left: 30.15px;
}
